$base    : #FF7221;
$black   : #000000;
$black2  : #232323;
$gray 	 : #959595;
$white   : #fff;
$white2  : #999999;

$img : '../images/';
$bg  : '../images/backgrounds/';
$ico : '../images/icons/';

$font  : 'Oswald', sans-serif;
$fonta : 'Aleo', serif;
