#main {}

.int_contact {
	background-size: cover !important;
	padding: 100px 0;

	.title_section {
		margin-top: 0;
	}
}


.list_block {
	margin: 0;
	padding: 0;

	li {
		display: block;
		list-style: none;
		margin: 20px 0;
		padding: 0;
	}
}

.wpcf7-form {
	input,
	textarea {
		background-color: rgba(255, 255, 255, 0.80);
		border: none;
		padding: 7px 5px;
	}

	label {
		color: $white;
		font-family: $font;
		font-weight: 100;
		font-size: 16px;
	}
}

 // BLOG 
.blog_list {
	background-color: $black2;
	padding: 100px 0;
}

.listposts_sidebar {
	margin: 30px 0;

	.date {
		color: $gray;
		font-family: $font;
		font-size: 20px;
		font-weight: 600;
		margin-top: 15px;
	}

	.title_pots {
		color: $white;
		font-family: $font;
		font-size: 25px;
		font-weight: 600;
	}
}

.list_postscomplete {
	.content_post {
		color: $white;
		font-size: 15px;
		font-family: $fonta;
		font-weight: 400;
		letter-spacing: 2px;
	}
	.item_post {
		border-bottom: solid #8a8a8a 1px;
		margin-bottom: 50px;
		padding-bottom: 50px;
	}

	.subtitle_post {
		color: $white;
		font-size: 20px;
		text-transform: none;
	}

	.title_pots {
		color: $white;
		margin-bottom: 50px;
		margin-top: 0;
		font-family: $font;
		font-weight: 600;
		font-size: 30px;
		text-transform: uppercase;
		position: relative;

		&::before {
			background-color: $base;
			bottom: -33px;
			content: '';
			height: 10px;
			left: 0;
			position: absolute;
			width: 50px;
		}
	}
}

.btn_more {
	color: $white;
	font-family: $font;
	font-weight: 400;
	font-size: 20px;

	&:hover {
		color: $white;
		text-decoration: underline;
	}
}

// INT CATEGORY
.int_category {
	background-color: $black2;
	padding: 100px 0;

	.title_category {
		font-size: 35px;
		color: $white;
		font-family: $font;
		margin-bottom: 35px;
		position: relative;
		text-transform: uppercase;

		&::before {
			background-color: $base;
			bottom: -51%;
			content: '';
			height: 7px;
			left: 0;
			position: absolute;
			width: 50px;
		}
	}

	.urlweb {
		a {
			color: $white;
			font-size: 14px;
			font-family: $font;
			font-weight: 600;
			letter-spacing: 1px;
			transition: all .2s linear;
			text-decoration: none;

			&:hover {
				color: $base;
				text-decoration: none;
			}
		}
	}

	.content_post {
		color: $white;
		font-size: 14px;
		font-family: $fonta;
		font-weight: 400;
		letter-spacing: 1px;
	}

	.owl-nav {
		margin-top: 15px;
		margin-top: 15px;
		position: absolute;
		width: 91%;
		top: 38%;
		left: 5%;

		button {
			span {
				color: $white;
				font-family: $font;
				font-size: 45px;
			}
		}

		.owl-next { position: absolute; right: 0; }
	}
}

.back_page {
	bottom: -25%;
	display: block;
	position: absolute;
	font-size: 45px;
	right: 5%;

	a {
		color: $white;
		font-family: $font;

		span { font-size: 20px; position: relative; top: -5px; }

		&:hover { text-decoration: none;  }
	}
}

.int_category {
	.owl-carousel-wrap {
		margin-top: 32px;

	}
}

.owl-carousel {
	.owl-item {
		img {
			margin: 0 auto;
			height: 486px;
			width: auto;
		}
	}
}

.int-dest {
	background-color: $black2;

	.banner_dest {
		background-size: cover;
		height: 500px;
		margin-bottom: 50px;
		position: relative;
	}

	.owl-carousel {
		.owl-item {
			img {
				height: auto;
				width: 100%;
			}
		}
	}

	.owl-nav {
		margin-top: 15px;
		position: absolute;
		width: 106%;
    top: 28%;
    left: -3%;

		button {
			span {
				color: $white;
				font-family: $font;
				font-size: 45px;
			}
		}

		.owl-next { position: absolute; right: 0; }
	}

	.title_ppl {
		align-items: center;
		color: $white;
		font-family: $font;
		font-size: 50px;
		display: flex;
		background-color: rgba( 19, 19, 19, 0.58);
		height: 100%;
		justify-content: center;
		position: absolute;
		text-align: center;
		width: 100%;
	}
}